
#logo{
    height: 27px;
  }

  #cart {
    position: relative;
    padding: 8px;
  }
  
  #numeroPeque {
    position: absolute;
    top: 6px;
    left: 11%;
    background: green;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px;
    font-family:inherit;
    font-size: 14px;
    
  }

  #datalistSuggestions {
  position: absolute;
  color: white;
  background-color: #708090;
  max-height: 250px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  padding: 2px;
  border-radius: 5px;
}

#searchInputBox.active #datalistSuggestions {
  opacity: 1;
  pointer-events: auto;
  padding: 6px 8px;
}
#searchInputBox.active #datalistSuggestions li {
  display: block;
}

#datalistSuggestions li {
  width: 100%;
  padding: 8px 12px;
  border-radius: 5px;
  display: none;
}

form #searchButton.boton {
  margin: 0;
  padding: 6px 19px;
  font-size: 16px;
  font-family: inherit;
  color: #198754;
  box-shadow: none;
  cursor: pointer;
}

#searchButton.boton:hover {
  color: white;
}