.orderButtons {
    justify-content: space-evenly;
    align-content: center;
}

.orderImgContainer {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
    height: 530px;
}
.orderImg{
    height: 30rem;
}